$titlewhite: white;
$mainBluish: rgb(91, 105, 222);
$cardBluishShadow: rgb(102, 112, 226);
$checkBox: rgb(232, 232, 234);
$mainBackground: rgb(245, 246, 248);
$cardSubtitle: rgb(120, 125, 137);
$cardTitle: rgb(25, 28, 35);
